<header>
<nav>

  <span>
    <a href="/" style="text-decoration: none; color: inherit;">Mike's Cereal Shack</a>
  </span>

  <% if(user){ %>

    <div class="buttons">
      <form class="logout-button" action="/api/login/logout" method="post">
      <button class="button-82-pushable" role="button" type="submit">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Logout
        </span>
      </form>

  <% } else{ %>

    <div class="buttons">
      <button class="button-82-pushable" role="button" onclick="window.location.href='/api/login'">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Login
        </span>

    <% } %>

  </button>
  <button class="button-82-pushable" role="button" onclick="window.location.href='/api/cart'">
    <span class="button-82-shadow"></span>
    <span class="button-82-edge"></span>
    <span class="button-82-front text">
      Cart
    </span>
  </button>

  <% if(user){ %>

    <% if(user.role === 'admin'){ %>

    <button class="button-82-pushable" role="button" onclick="window.location.href='/api/orders/admin'">
      <span class="button-82-shadow"></span>
      <span class="button-82-edge"></span>
      <span class="button-82-front text">
        Orders
      </span>
    </button>

    <% } else{ %>

      <button class="button-82-pushable" role="button" onclick="window.location.href='/api/orders'">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Orders
        </span>
      </button>

    <% } %>
  <% } %>




</div>

</nav>

</header>
