<!DOCTYPE html>
<html lang="en">

<head>
<title>Mike's Cereal Shack</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External css -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
  <div class="banner">
    Welcome to Mike's Cereal Shack!
    </div>

  <div id="page-container">
    <div id="content-wrap">
  <main>

<div class="products">
  <div class="product1">

  <div class="product-name">
  <p>Lucky Charms</p>
  </div>

  <div class="product-image">

  </div>

  <div class="description">

    <div class="description-toggle">
      <p>description</p>

  </div>
  <p class="description-text">Lucky Charms is a brand of breakfast cereal
    produced by the General Mills food company since 1964.
    The cereal consists of toasted oat pieces and multi-colored marshmallow
    shapes (or marshmallow bits). The label features a leprechaun mascot,
    Lucky, animated in commercials.</p>

</div>

<div class="price-div">
<span class="price">Price: &#36;9.99</span>
<button class="button-24" role="button">Add to Cart</button>
</div>

</div>
  <div class="product2">

  <div class="product-name">
  <p>Lucky Charms</p>
  </div>

  <div class="product-image">

  </div>

  <div class="description">

    <div class="description-toggle">
      <p>description</p>

  </div>
  <p class="description-text">Lucky Charms is a brand of breakfast cereal
    produced by the General Mills food company since 1964.
    The cereal consists of toasted oat pieces and multi-colored marshmallow
    shapes (or marshmallow bits). The label features a leprechaun mascot,
    Lucky, animated in commercials.</p>

</div>

<div class="price-div">
<span class="price">Price: &#36;9.99</span>
<button class="button-24" role="button">Add to Cart</button>
</div>

</div>
  <div class="product3">

  <div class="product-name">
  <p>Lucky Charms</p>
  </div>

  <div class="product-image">

  </div>

  <div class="description">

    <div class="description-toggle">
      <p>description</p>

    </div>

  <p class="description-text">Lucky Charms is a brand of breakfast cereal
    produced by the General Mills food company since 1964.
    The cereal consists of toasted oat pieces and multi-colored marshmallow
    shapes (or marshmallow bits). The label features a leprechaun mascot,
    Lucky, animated in commercials.</p>
</div>

<div class="price-div">
<span class="price">Price: &#36;9.99</span>
<button class="button-24" role="button">Add to Cart</button>
</div>

</div>
  <div class="product4">

  <div class="product-name">
  <p>Lucky Charms</p>
  </div>

  <div class="product-image">

  </div>

  <div class="description">

    <div class="description-toggle">
      <p>description</p>

    </div>

  <p class="description-text">Lucky Charms is a brand of breakfast cereal
    produced by the General Mills food company since 1964.
    The cereal consists of toasted oat pieces and multi-colored marshmallow
    shapes (or marshmallow bits). The label features a leprechaun mascot,
    Lucky, animated in commercials.</p>
</div>

<div class="price-div">
<span class="price">Price: &#36;9.99</span>
<button class="button-24" role="button">Add to Cart</button>
</div>

</div>
  <div class="product5">

  <div class="product-name">
  <p>Lucky Charms</p>
  </div>

  <div class="product-image">

  </div>

  <div class="description">

    <div class="description-toggle">
      <p>description</p>

    </div>

  <p class="description-text">Lucky Charms is a brand of breakfast cereal
    produced by the General Mills food company since 1964.
    The cereal consists of toasted oat pieces and multi-colored marshmallow
    shapes (or marshmallow bits). The label features a leprechaun mascot,
    Lucky, animated in commercials.</p>
</div>

<div class="price-div">
<span class="price">Price: &#36;9.99</span>
<button class="button-24" role="button">Add to Cart</button>
</div>

</div>
  <div class="product6">

  <div class="product-name">
  <p>Lucky Charms</p>
  </div>

  <div class="product-image">

  </div>

  <div class="description">

    <div class="description-toggle">
      <p>description</p>

    </div>

  <p class="description-text">Lucky Charms is a brand of breakfast cereal
    produced by the General Mills food company since 1964.
    The cereal consists of toasted oat pieces and multi-colored marshmallow
    shapes (or marshmallow bits). The label features a leprechaun mascot,
    Lucky, animated in commercials.</p>
</div>

<div class="price-div">
<span class="price">Price: &#36;9.99</span>
<button class="button-24" role="button">Add to Cart</button>
</div>

</div>

</main>

</div>

<footer>
<span>&copy; Established in 2022</span>
<div class="footer-buttons">
  <span>
      Login
    </span>

    <span>
      Cart
    </span>

    <span>
      Orders
    </span>

</div>
  </footer>
</div>
</body>


</html>
