<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mike's Cereal Shack</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

  <!-- External css -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
  <div class="login-banner">
    Login
    </div>

  <main class="loginPage">

    <div class="login-user">
      <h5 class="user-text">Login as User</h5>
      <button id="alice-button" type="submit" class="button-82-pushable" role="button" onclick="window.location.href='/api/login/1'">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          User Alice
        </span>
      <button class="button-82-pushable" role="button" type="submit" onclick="window.location.href='/api/login/2'">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          User Kira
        </span>
      <button class="button-82-pushable" role="button" type="submit" onclick="window.location.href='/api/login/3'">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          User Bruce
        </span>
    </div>

    <div class="login-admin">
      <h5>Login as Admin</h5>
      <button id="kevin-button" class="button-82-pushable" role="button" type="submit" onclick="window.location.href='/api/login/4'">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Admin Kevin
        </span>
      <button class="button-82-pushable" role="button" type="submit" onclick="window.location.href='/api/login/5'">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Admin Carol
        </span>
    </div>

  </main>

</div>

<footer>
<span>&copy; Established in 2022</span>
<div class="footer-buttons">
  <span>
      <a href="/api/login" style="text-decoration: none; color: inherit;">Login</a>
    </span>

    <span>
      <a href="/api/cart" style="text-decoration: none; color: inherit;">Cart</a>
    </span>

    <span>
      <a href="/api/orders" style="text-decoration: none; color: inherit;">Orders</a>
    </span>

</div>
  </footer>
</div>

</body>

</html>
