/*
 * tweets component design in CSS
 */
.itemarea {
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  justify-content: center;
  background-color: skyblue;
  margin: auto;
  border-radius: 25px;
  margin-top: 40px;

}
.cartview {
  display: flex;
  flex-direction: row;
  color: black;

  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 40px;

}
.useritems {
  display: flex;
  flex-direction: column;
  background-color: green;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
article.cart {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 20px 20px;
  border-radius: 15px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  background-color: #e39dbb;
  border: 0.25rem solid black;
}
 article.cart .cartcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.buttonitem {
  background-color:#FF4742;
  border-radius: 5px;
  border: 1px solid #FF4742;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
}
.buttonitem:hover,
.buttonitem:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
.buttonitem:active {
  opacity: 1;
}
article.cart .actionfooter {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
}
.cartamounts {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 600px;
  min-height: 400px;
  padding: 20px 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  background-color: rgb(210, 250, 246);
  border: 0.25rem solid black;
}
.itemaccounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row;

}
 .cartamounts .totalfinal {
 display: flex;
 justify-content: flex-end;
  margin-top: auto;
}
.buttoncheckoutarea {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}
.buttoncheckout {
  background:green;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 16px;
  min-height: 60px;
  min-width: 200px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 40px;
}
