/*
 * tweets component design in CSS
 */
 .cart-banner {
  display: flex;
  height: 50px;
  width: 100%;
  border-top: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  background-color: rgb(0, 227, 227);
  font-size: 25px;
  font-family: 'Bangers', cursive;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  align-items: center;
  justify-content: center;
}
.itemarea {
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  justify-content: center;
  background-color: skyblue;
  margin: auto;
  border-radius: 25px;
  margin-top: 40px;

}
.cartview {
  display: flex;
  flex-direction: row;
  color: black;

  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 5px;

}
// .useritems {
//   display: flex;
//   flex-direction: column;
//   background-color: green;
//   align-items: center;
//   font-family: 'Lucida Sans';
//   font-weight: bold;
// }
article.cart {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  padding: 20px 20px;
  border-radius: 15px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  background-color: #e39dbb;
  border: 0.25rem solid black;

}
 article.cart .cartcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}
.prodname {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.articontent {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 10px;
}

.buttonitem {
  background-color:#FF4742;
  border-radius: 5px;
  border: 1px solid #FF4742;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
}
.buttonitem:hover,
.buttonitem:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
.buttonitem:active {
  opacity: 1;
}
article.cart .actionfooter {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
}
.accountsection {
  display: flex;
  flex-direction: column;
  overflow:hidden;
  height:1%;
  width: auto;
  padding-right: 100px;
}
.accountheader{
  font-family:sans-serif;
  font-size: larger;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
.cartamounts {
  display: inline-block;
  flex-direction: column;
  flex: 1;
  width: 100%;
   overflow:hidden;
   height:1%;
  padding: 20px 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  background-color: rgb(210, 250, 246);
  border: 0.25rem solid black;
}
.headernames {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
.itemaccounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row;

}
 .totalfinal {
   display: flex;
   justify-content: left;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  font-family:sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;

}
.buttoncheckoutarea {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}
.buttoncheckout {
  background:green;
  border: 1px solid #FF4742;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 16px;
  min-height: 60px;
  min-width: 200px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 10px;
}
