.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  height: 1em;
  padding-top: 2em;
}

h5 {
  font-size: 0.7em;
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
