body {
  background-image: url("https://cdn.apartmenttherapy.info/image/upload/v1559226287/k/archive/00487d46c890dbdff35805d5241934d16841e770.jpg");
  background-size: cover;
  min-height: 100vh;
  color: white;
  font-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: flex;
  height: 120px;
  width: 100%;
  padding-left: 2rem;
  background: linear-gradient(#d590ae, #e39dbb, #f1aac8, #ffb7d5, #ffc4e2, #ffd2f0, #ffdffe);
  color: #FFFFFF;
  font-family: 'Bangers', cursive;
  justify-content: space-between;
  align-items: center;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;    /* Footer height */
}

.products {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.description-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.product-image {
  border: 2px solid #e39dbb;
  width: 150px;
  height: 180px;
  background-color: #e39dbb;
  background-image: url("https://www.pngkey.com/png/full/123-1235133_00-for-lucky-charms-cereal-lucky-charms-mixed.png");
  background-size: 100% 100%;
  margin-top: 20px;
}

.price-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  padding-right: 15px;
  font-size: 15px;
}

.product-name {
  font-family: 'Bangers', cursive;
  font-size: 22px;
}

.product1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border: 0.25rem solid black;
  border-radius: 30px;
  width: 20rem;
  margin: 2rem;
  padding: 1rem;
  background-color: #e39dbb;
}

.description-text {
  font-size: 12px;
}

.product2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border: 0.25rem solid black;
  border-radius: 30px;
  width: 20rem;
  margin: 2rem;
  padding: 1rem;
  background-color: #e39dbb;
}

.product3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border: 0.25rem solid black;
  border-radius: 30px;
  width: 20rem;
  margin: 2rem;
  padding: 1rem;
  background-color: #e39dbb;
}

.product4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border: 0.25rem solid black;
  border-radius: 30px;
  width: 20rem;
  margin: 2rem;
  padding: 1rem;
  background-color: #e39dbb;
}

.product5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border: 0.25rem solid black;
  border-radius: 30px;
  width: 20rem;
  margin: 2rem;
  padding: 1rem;
  background-color: #e39dbb;
}

.product6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border: 0.25rem solid black;
  border-radius: 30px;
  width: 20rem;
  margin: 2rem;
  padding: 1rem;
  background-color: #e39dbb;
}


footer {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  background: linear-gradient(#d590ae, #e39dbb, #f1aac8, #ffb7d5, #ffc4e2, #ffd2f0, #ffdffe);
  color: #FFFFFF;
  font-family: 'Bangers', cursive;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  font-size: 25px;
}

.footer-buttons {
  cursor: pointer;
}

.banner {
  display: flex;
  height: 50px;
  width: 100%;
  border-top: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  background-color: rgb(0, 227, 227);
  font-size: 25px;
  font-family: 'Bangers', cursive;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  align-items: center;
  justify-content: center;
}


  .buttons {
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.2em;
  }

  .logout-button {
    transform: translateY(-7px);
  }

  .button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }

  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }

  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }

  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }

  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }

  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }

  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }

  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }

  .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }

  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }

  .button-24:active {
    opacity: .5;
  }
